# Using workaround from https://github.com/jazzband/pip-tools/issues/204#issuecomment-550051424
-e file:.#egg=prometheus_operator

# Use dependency list in requirements.txt to constrain the dependencies that
# gets resolved when compiling this file.
-c requirements.txt

pytest>=5.4.3,<5.5.0
